<div class="board-container">
<% symbols = GameCounter.all %>
<% @board.each_with_index do |symbol, index| %>
    <div class="sq">
    <% if symbol == "X" || symbol == "O" %>
      <%= image_tag symbols.find_by_game_counter(symbol).game_counter_image %>
    <% else %>
      <%= link_to image_tag(symbols.find_by_game_counter(@symbol).game_counter_image), play_make_move_path(@play, { board_index: index }) unless @play.game_over? || @play.current_player != current_user %>
    <% end %>
    </div>
<% end %>
</div>




