<div class="board-container">
<% @board.each_with_index do |symbol, index| %>
  <div class="sq">
    <% if symbol == "X" || symbol == "O" %>
      <%= symbol %>
    <% else %>
      <%= link_to 'pick me!', play_make_move_path(@play, { board_index: index }) unless @play.game_over? || @play.current_player != current_user %>
    <% end %>
  </div>
<% end %>
</div>