<h3>Game over</h3>
<% if @result == "win" %>
  <p><%= "#{@symbol} wins!" %></p>
<% else %>
  <p>It's a draw - everybody wins!</p>
<% end %>

<div class="board-container">
<% @board.each_with_index do |symbol, index| %>
  <div class="sq">
    <% if symbol == "X" || symbol == "O" %>
      <%= symbol %>
    <% else %>
      <%= "" %>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to 'Play again?', new_play_path %>
