<p><%= link_to 'Start New Game', new_play_path %></p>

<table>
<thead>
  <th>Game</th>
  <th>User</th>
  <th>Played</th>
</thead>
<% @plays.each do |play| %>
  <tr>
    <td><%= play.game_detail.name %></td>
    <td><%= play.user.username %></td>
    <td><%= time_ago_in_words(play.created_at) %> ago</td>
  </tr>
<% end %>
</table>