
<% if params[:user_id] %>
  <% @plays = current_user.plays %>
  <h2>My Recent Games</h2>
  <% if @plays.empty? %>
    <p>Looks like you've not played any games yet. Click the link below to get started!</p>
  <% end %>
<% else %>
  <% @plays = Play.all %>
  <h2>Recently Played</h2>
<% end %>

<p><%= link_to 'Start New Game', new_play_path %></p>
<%= render 'plays_table' %>
