<% p1_symbol = 'X' %>
<% p2_symbol = 'O' %>

<div class="board-container">
<% @board.each_with_index do |sq, index| %>
  <div class="sq">
    <% if sq.to_i == 1 %>
      <%= p1_symbol %>
    <% elsif sq.to_i == 2 %>
      <%= p2_symbol %>
    <% else %>
      <%= link_to 'here', game_make_move_path(@game, { move_index: index }) %>
    <% end %>
  </div>
<% end %>
</div>