
<% if params[:message] %>
  <h4 class="error"><%= params[:message] %></h4>
<% end %>

<% @games.each do |game| %>
<div class="index-view">
  <%= image_tag game.image %>
  <br>
  <%= link_to game.name, game_detail_path(game) %>
  <br>
  <% if game.name == 'Tic Tac Toe' %>
    <p><%= link_to 'New game', new_play_path %></p>
  <% else %>
    <p>Coming soon...</p>
  <% end %>
</div>
<% end %>


